
.editorconfig
.vs/ids4/config/applicationhost.config
.vs/ids4/DesignTimeBuild/.dtbcache.v2
.vs/ids4/v16/.suo

/ids4.Common/bin/

/ids4.Common/obj/
/ids4.Model/bin/
/ids4.Model/obj/
/ids4.Repository/bin/
/ids4.Repository/obj/
/ids4.Swagger/bin/
/ids4.Swagger/obj/
/JsOidc/bin/
/JsOidc/obj/
/ids4/bin/
/ids4/obj/